
body{
    background-color: #808080;
}

#main{
    background-color: #ffffff;
    width: 100vw;
    height: 100vh;
}

#left-top{
    height: 70px;
    width: 100%;
    background-color: #eeeeee;
    padding: 10px 10px 10px 30px;
}

#left-bottom{
    height: 100px;
    width: 100%;
    padding: 20px;
    background-color: #ffffff;
}

#left-outer{
    background-color: #ffffff;
    width: 30%;
    height: 100%;
    padding: 0;
    float: left;
}

#right-top{
    height: 70px;
    padding: 10px;
    background-color: #eeeeee;
}

#right-outer{
    background-color: #cccccc;
    width: 70%;
    height: 100%;
    padding: 0;
    float: right;
}